<section class="newsletter">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-6 col-sm-12 col-12">
                <h4>¡Recibe ofertas al instante y reserva tu próximo destino!</h4>
            </div>

            <div class="col-lg-8 col-md-6 col-sm-12 col-12 pt-2">
                <form class="row g-3">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-12">
                        <input type="email" class="form-control form-control-sm" id="" placeholder="Ingresa tu correo">
                        <small>¡Deseo recibir correos de ofertas!</small>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-6">
                        <button type="submit" class="btn btn-primary rounded-pill mb-3">Quiero registrame</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>