 <!-- Header -->
<header class="top-bar">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light bg-faded">
            <button class="navbar-toggler bt-menu" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-mosaic"></span>
            </button>

            <!-- Brand -->
            <a class="navbar-brand mx-auto site-name" href="/">
               <img class="logo" src="~/images/logoviajemoscontigo.png" alt="Viajemos Contigo">               
            </a>

            <!-- Links -->
            <div class="collapse navbar-collapse justify-content-end nav-main" id="nav-content">
                <!--
                <div class="first-menu">
                    <ul class="navbar-nav main-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="/deals/"><span class="icon-special-rate"></span> Ofertas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/mytravel/"><span class="icon-travel"></span> Mis viajes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/help/"><span class="icon-help"></span> Ayuda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contactus/"><span class="icon-faq"></span> Contacto</a>
                        </li>
                    </ul>
                </div>-->

                <div class="second-menu justify-content-end">
                    <ul class="navbar-nav">
                        <li class="header-product-item">
                            <a class="nav-link active" href="/destinos/">
                                <div class="button-circle-icon">
                                    <span class="icon-location"></span> 
                                </div> 
                                <label class="button-circle-label">Destinos</label>                                                                                          
                            </a>
                        </li>
                        @*<li class="header-product-item">
                            <a class="nav-link active" href="/hotels/">
                                <div class="button-circle-icon">
                                    <span class="icon-hotel"></span> 
                                </div> 
                                <label class="button-circle-label">Hotel</label>                                                                                          
                            </a>
                        </li>
                        <li class="header-product-item">
                            <a class="nav-link" href="/tours/">
                                <div class="button-circle-icon">
                                    <span class="icon-tours"></span> 
                                </div> 
                                <label class="button-circle-label">Tour</label>
                            </a>
                        </li>
                        <li class="header-product-item">
                            <a class="nav-link" href="/shuttles/">
                                <div class="button-circle-icon">
                                    <span class="icon-transportation"></span> 
                                </div> 
                                <label class="button-circle-label">Traslado</label>
                            </a>
                        </li>
                        <li class="header-product-item">
                            <a class="nav-link" href="/flights/">
                                <div class="button-circle-icon">
                                    <span class="icon-flight"></span> 
                                </div> 
                                <label class="button-circle-label">Vuelo</label>
                            </a>
                        </li>
                        <li class="header-product-item">
                            <a class="nav-link" href="/packages/">
                                <div class="button-circle-icon">
                                    <span class="icon-packages"></span> 
                                </div> 
                                <label class="button-circle-label">Vuelo + Hotel</label>
                            </a>
                        </li>
                        <li class="header-product-item">
                            <a class="nav-link" href="/cars/">
                                <div class="button-circle-icon">
                                    <span class="icon-car"></span> 
                                </div> 
                                <label class="button-circle-label">Auto</label>
                            </a>
                        </li>*@
                    </ul>
                    <!--<p class="second-phone">¡Reserva ya! <strong>800 TRAVEL</strong></p>-->
                </div>
            </div>

        </nav>
    </div>   
</header>
