<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h1>Acerca de Nosotros</h1>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <img src="~/images/destinations/mexico/banners/large-cancun.jpg"
                    onError="this.onerror=null;this.src='/images/destinations/nodestination.png';"
                    title="Acerca de Nosotros"
                    alt="Acerca de Nosotros" style="width:100%;">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <p class="m-3">
                Somos una empresa 100% mexicana, enfocada a divulgar información relevante de los mejores destinos
                <br />
                - Información del destino.<br />
                - Atractivos o puntos de interes.<br />
            </p>
        </div>
    </div>
</div>
   
