<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-6 col-12 menu-1">

                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                        <ul>
                            <li><a href="/destinos/">Destinos</a></li>
                        </ul>
                        <ul>
                            <li><a href="/acercadenosotros/">Quienes Somos</a></li>
                        </ul>
                    </div>

                    @*<div class="col-lg-2 col-md-3 col-sm-4 col-6">
                        <ul>
                            <li><a href="#">Vuelos a Cancún</a></li>
                            <li><a href="#">Vuelos a Puerto Vallarta</a></li>
                            <li><a href="#">Vuelos a Acapulco</a></li>
                            <li><a href="#">Vuelos a Los Cabos</a></li>
                        </ul>
                    </div>*@

                    @*<div class="col-lg-2 col-md-3 col-sm-4 col-6">
                        <ul>
                            <li><a href="#">Paquetes a Cancún</a></li>
                            <li><a href="#">Paquetes a Puerto Vallarta</a></li>
                            <li><a href="#">Paquetes a Acapulco</a></li>
                            <li><a href="#">Paquetes a Los Cabos</a></li>
                        </ul>
                    </div>*@

                </div>

            </div>

            @*<div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="social-media">
                    <h5>Síguenos en Redes Sociales</h5>
                    <a href="#"><span class="icon-instagram"></span></a>
                    <a href="#"><span class="icon-youtube"></span></a>
                    <a href="#"><span class="icon-facebook"></span></a>
                    <a href="#"><span class="icon-twitter"></span></a>
                </div>
            </div>*@
        </div>

        <div class="row">
            @*<div class="col-lg-2 col-md-3 col-sm-6 col-12 menu">
                <ul>
                    <li><a href="#">Blog de Viajes</a></li>
                    <li><a href="#">Go México Media</a></li>
                    <li><a href="#">Prensa</a></li>
                </ul>
            </div>*@

            <div class="col-lg-12 col-md-12 col-sm-6 col-12 copyright mb-3">
                <p><strong>Viajemos Contigo.com</strong> - México</p><br><br>
                <span style="color:#ffffff">
                    <p>
                        <strong>Cancún, Quintana Roo. México.</strong>
                        <br>Sitio: <strong>viajemoscontigo.com</strong>
                        <br><br>
                        <strong>
                            ©viajemoscontigo.com México, Todos los derechos reservados.
                        </strong>
                        <br>Se prohíbe cualquier reproducción total o parcial de este contenido sin autorización por escrito de su titular.
                        @*<br>Es responsabilidad de la cadena hotelera y/o de la propiedad garantizar la exactitud de las fotografías mostradas.*@
                        <br>No nos hacemos responsables por inexactitudes en las fotografías.
                    </p>
                </span>
            </div>

        </div>

    </div>

    <div class="footer">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <p>©Viajemos Contigo, México 2021.</p>
                </div>
            </div>

        </div>
    </div>

</footer>
