<div class="wait-page">
    <div class="wait-page-container">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center pt-4 mt-2">
                    <div class="spinner-grow text-secondary" role="status">
                        <span class="sr-only"></span>
                    </div>
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only"></span>
                    </div>
                    <div class="spinner-grow text-danger" role="status">
                        <span class="sr-only"></span>
                    </div>
                    <div class="spinner-grow text-success" role="status">
                        <span class="sr-only"></span>
                    </div>                            
                    <div class="spinner-grow text-dark" role="status">
                        <span class="sr-only"></span>
                    </div>
                    <!--<div class="loader"></div>-->             
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center pt-4 mt-2">                   
                    <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-center display-6">
                        <span class="text-primary">ยก</span>
                        <span class="text-dark">Espere un momento por favor</span>                        
                        <span class="text-primary">!</span>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-center text-primary display-6">                
                        Gracias por esperar.
                    </div>              
                </div>
            </div>        
        </div> 
    </div>     
</div>